<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>WINGS GLOBAL LOGISTICS</display-name>
    <filter>
        <filter-name>LoginAccFilter</filter-name>
        <filter-class>com.wings.web.servlets.filters.LoginAccFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginUserFilter</filter-name>
        <filter-class>com.wings.web.servlets.filters.LoginUserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginAdminFilter</filter-name>
        <filter-class>com.wings.web.servlets.filters.LoginAdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginAdminFilter</filter-name>
        <url-pattern>/master.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginUserFilter</filter-name>
        <url-pattern>/jobsheet.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAccFilter</filter-name>
        <url-pattern>/accounting.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAccFilter</filter-name>
        <url-pattern>/account/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginUserFilter</filter-name>
        <url-pattern>/jobsheet/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAccFilter</filter-name>
        <url-pattern>/transactionacc/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAccFilter</filter-name>
        <url-pattern>/cashonhand/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginUserFilter</filter-name>
        <url-pattern>/tax.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginUserFilter</filter-name>
        <url-pattern>/tax/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginUserFilter</filter-name>
        <url-pattern>/debitinvoice.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginUserFilter</filter-name>
        <url-pattern>/debit/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginUserFilter</filter-name>
        <url-pattern>/invoice/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginUserFilter</filter-name>
        <url-pattern>/payment/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAdminFilter</filter-name>
        <url-pattern>/agents/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAdminFilter</filter-name>
        <url-pattern>/consignee/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAdminFilter</filter-name>
        <url-pattern>/shipper/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAdminFilter</filter-name>
        <url-pattern>/destination/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAdminFilter</filter-name>
        <url-pattern>/transporter/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAdminFilter</filter-name>
        <url-pattern>/agentfee/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAdminFilter</filter-name>
        <url-pattern>/shipperfee/</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAdminFilter</filter-name>
        <url-pattern>/users/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAccFilter</filter-name>
        <url-pattern>/accreports.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAccFilter</filter-name>
        <url-pattern>/accreports/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAccFilter</filter-name>
        <url-pattern>/report.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAccFilter</filter-name>
        <url-pattern>/report/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/agents</param-name>
            <param-value>/WEB-INF/agents/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/consignee</param-name>
            <param-value>/WEB-INF/consignee/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/shipper</param-name>
            <param-value>/WEB-INF/shipper/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/agentfee</param-name>
            <param-value>/WEB-INF/agentfee/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/shipperfee</param-name>
            <param-value>/WEB-INF/shipperfee/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/jobsheet</param-name>
            <param-value>/WEB-INF/jobsheet/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/invoice</param-name>
            <param-value>/WEB-INF/invoice/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/destination</param-name>
            <param-value>/WEB-INF/destination/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/transporter</param-name>
            <param-value>/WEB-INF/transporter/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/invoice</param-name>
            <param-value>/WEB-INF/invoice/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/debit</param-name>
            <param-value>/WEB-INF/debit/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/reports</param-name>
            <param-value>/WEB-INF/reports/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/users</param-name>
            <param-value>/WEB-INF/users/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/tax</param-name>
            <param-value>/WEB-INF/tax/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/perkiraan</param-name>
            <param-value>/WEB-INF/perkiraan/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/account</param-name>
            <param-value>/WEB-INF/account/struts-config.xml</param-value>
        </init-param>
        
         <init-param>
            <param-name>config/account_saldo</param-name>
            <param-value>/WEB-INF/account_saldo/struts-config.xml</param-value>
        </init-param>
        
        <init-param>
            <param-name>config/transactionacc</param-name>
            <param-value>/WEB-INF/transactionacc/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/batch</param-name>
            <param-value>/WEB-INF/batch/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/kursdollar</param-name>
            <param-value>/WEB-INF/kursdollar/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/accreports</param-name>
            <param-value>/WEB-INF/accreports/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/payment</param-name>
            <param-value>/WEB-INF/payment/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/shippingline</param-name>
            <param-value>/WEB-INF/shippingline/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/cashonhand</param-name>
            <param-value>/WEB-INF/cashonhand/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XlsServlet</servlet-name>
        <servlet-class>net.sf.jasperreports.j2ee.servlets.XlsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfServlet</servlet-name>
        <servlet-class>net.sf.jasperreports.j2ee.servlets.PdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsigneeServletAutocomplete</servlet-name>
        <servlet-class>com.wings.web.servlets.ajaxtag.ConsigneeServletAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperServletAutocomplete</servlet-name>
        <servlet-class>com.wings.web.servlets.ajaxtag.ShipperServletAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForwarderServletAutocomplete</servlet-name>
        <servlet-class>com.wings.web.servlets.ajaxtag.ForwarderServletAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgentServletAutocomplete</servlet-name>
        <servlet-class>com.wings.web.servlets.ajaxtag.AgentServletAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransporterSerlvetAutocomplete</servlet-name>
        <servlet-class>com.wings.web.servlets.ajaxtag.TransporterSerlvetAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DestinationSerlvetAutocomplete</servlet-name>
        <servlet-class>com.wings.web.servlets.ajaxtag.DestinationSerlvetAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgentfeeServletAutocomplete</servlet-name>
        <servlet-class>com.wings.web.servlets.ajaxtag.AgentfeeServletAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatchServletAutocomplete</servlet-name>
        <servlet-class>com.wings.web.servlets.ajaxtag.BatchServletAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountIdServletAutocomplete</servlet-name>
        <servlet-class>com.wings.web.servlets.ajaxtag.AccountIdServletAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountNameServletAutocomplete</servlet-name>
        <servlet-class>com.wings.web.servlets.ajaxtag.AccountNameServletAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerkiraanIdServletAutocomplete</servlet-name>
        <servlet-class>com.wings.web.servlets.ajaxtag.PerkiraanIdServletAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerkiraanNameServletAutocomplete</servlet-name>
        <servlet-class>com.wings.web.servlets.ajaxtag.PerkiraanNameServletAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SOAServletAutocomplete</servlet-name>
        <servlet-class>com.wings.web.servlets.ajaxtag.SOAServletAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingLineServletAutocomplete</servlet-name>
        <servlet-class>com.wings.web.servlets.ajaxtag.ShippingLineServletAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PieChartServlet</servlet-name>
        <servlet-class>com.wings.web.servlets.PieChartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/servlets/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XlsServlet</servlet-name>
        <url-pattern>/reports/XlsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfServlet</servlet-name>
        <url-pattern>/reports/PdfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsigneeServletAutocomplete</servlet-name>
        <url-pattern>/ConsigneeServletAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperServletAutocomplete</servlet-name>
        <url-pattern>/ShipperServletAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForwarderServletAutocomplete</servlet-name>
        <url-pattern>/ForwarderServletAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgentServletAutocomplete</servlet-name>
        <url-pattern>/AgentServletAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransporterSerlvetAutocomplete</servlet-name>
        <url-pattern>/TransporterSerlvetAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestinationSerlvetAutocomplete</servlet-name>
        <url-pattern>/DestinationSerlvetAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgentfeeServletAutocomplete</servlet-name>
        <url-pattern>/AgentfeeServletAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BatchServletAutocomplete</servlet-name>
        <url-pattern>/BatchServletAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountIdServletAutocomplete</servlet-name>
        <url-pattern>/AccountIdServletAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerkiraanIdServletAutocomplete</servlet-name>
        <url-pattern>/PerkiraanIdServletAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountNameServletAutocomplete</servlet-name>
        <url-pattern>/AccountNameServletAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerkiraanNameServletAutocomplete</servlet-name>
        <url-pattern>/PerkiraanNameServletAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOAServletAutocomplete</servlet-name>
        <url-pattern>/SOAServletAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingLineServletAutocomplete</servlet-name>
        <url-pattern>/ShippingLineServletAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PieChartServlet</servlet-name>
        <url-pattern>/piechartservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>300</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>struts-bean</taglib-uri>
            <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>struts-html</taglib-uri>
            <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>struts-logic</taglib-uri>
            <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>struts-nested</taglib-uri>
            <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>struts-tiles</taglib-uri>
            <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
